#form {
    border: 3px solid black;
    height: 490px;
    width: 530px;
    background-color: gray;
    background-image: url("./images/form.png");
    background-repeat: no-repeat;
    background-size: 200px 150px;
    position: fixed;
    left: 400px;
}

#form > h1 {
    text-align: center;
    font-style: italic;
    margin-top: 50px;
    margin-bottom: 50px;
}

input[type=text], input[type=email] {
    width: 200px;
    height: 20px;
    margin-bottom: 10px;
}

#review {
    width: 200px;
    height: 100px;
    margin-bottom: 10px;
    margin-left: 10px;
}

#form_3 {
    color: black;
}

#button {
    background-color: red;
    font-size: 20px;
    position: relative;
    left: 230px;
    top: 40px;
}

body {
    background-image: url("./images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
}




