/* For variables (colors etc.), custom properties */
:root {
    --color1: #222831;
    --color2: #31363F;
    --color3: #76ABAE;
    --color4: #EEEEEE;
    --color5: #1E3E62;
}

/* * - all styles are applied to HTML elements */
* {
    font-family: Arial, Helvetica, sans-serif;
}

/* target: body */
body {
    background-color: var(--color1);
}

/* target: header container */
.header-container {
    background-color: var(--color2);
    display: flex; /* flex makes div merge together */
    justify-content: center;
    gap: 30px;
    padding: 50px;
    padding-bottom: 0px;
    margin: auto;
}

/* target: name(Justine Delima) */
.name-container {
    height: 100px;
    max-width: 15%;
    margin-top: 30px;
}

/* target: pixel image */
.pixel-container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
}

/* target: header 1 */
h1 {
    color: var(--color4)
}

/* target: header 2 */
.inthobb-container h2 {
    text-align: center;
    background-color: var(--color2);
    color: var(--color4);
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
}

.works-container h2 {
    text-align: center;
    background-color: var(--color2);
    color: var(--color4);
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
}

.testimonials-container h2 {
    text-align: center;
    background-color: var(--color2);
    color: var(--color4);
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
}

.gallery-container h2 {
    text-align: center;
    background-color: var(--color2);
    color: var(--color4);
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
}

.goals-container h2 {
    text-align: center;
    background-color: var(--color2);
    color: var(--color4);
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
}

/* target: paragraphs. */
.testimonials-container p {
    color: var(--color4);
    text-align: center;
    padding: 10px;
    border: 2px dashed var(--color2)
}

/* target: interest & hobbies container */
.inthobb-container {
    padding: 50px 50px;
    border: 5px dashed var(--color2);
}

/* target: interest & hobbies unordered list */
.inthobb-container ul {
    color: var(--color4);
    font-weight: lighter;
    list-style: none;
    text-align: center;
    padding-left: 0;
}

.inthobb-container li {
    margin-top: 20px;
}

/* target: my works */
.works-container {
    border: 5px solid var(--color2);
    padding: 50px 50px;
    margin: auto;
}

/* target: my works ordered list */
.works-container ol {
    color: var(--color4);
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-left: 0;
}

/* target: my works links */
.links-container ol a {
    color: var(--color4);
    text-decoration: none;
    border: 3px solid var(--color2);
    padding: 4px 15px;
    background-color: var(--color5); 
}

/* target: testimonials */
.testimonials-container {
    padding: 50px 50px;
    border: 5px solid var(--color2);
}

/* target: my gallery */
.gallery-container {
    padding: 50px 50px;
    border: 5px solid var(--color2);
}

/* target: images in gallery */
.gallery-container img {
    margin-left: 0;
    margin-right: 0;
    height: 100%;
    width: 48%;
    border: 5px solid var(--color2);
    border-radius: 5px;
}

/* target: mitsuki image only. */
#mitsuki_image {
    margin-top: 30px;
}

/* target: row 1 images */
.first-row {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

/* target: row 2 images */
.second-row {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

/* target: row 3 images  */
.third-row {
    display: flex;
    justify-content: space-evenly;
}

/* -target: contact form- */
/* target: div form container. */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
    width: 99%;
    border: 5px solid var(--color2);
}

/* target: form element */
form {
    height: 288px;
    width: 400px;
    padding: 10px;
    background-color: var(--color2);
}

/* target: form class input */
.input-container {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* target:  textarea */
textarea {
    height: 100px;
    width: 100%;
    resize: none;
} 

input {
    height: 29px;
    width: 100%;
}

/* target: div of button */
#submit_button {
    display: flex;
    justify-content: center;
}

/* target: button */
button {
    border: none;
    width: 150px;
    height: 29px;
    background-color: var(--color4);
    font-family: monospace;
    font-weight: 900;
    font-size: large;
    cursor: pointer;
}

/* target: fieldset */
fieldset {
    height: 330px;
    width: 420px;
    border-radius: 5px;
}

/* target: legend */
legend {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    color: var(--color4);
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px; 
}

/* ------------------------- Mobile S ---------------------------- */
@media(min-width: 320px) {
    /* target: header container */
    .header-container {
        background-color: var(--color2);
        display: flex;
        justify-content: center;
        gap: 55px;
        padding: 50px;
        padding-bottom: 0px;
        margin: auto;
    }

    /* target: testimonials */
    .testimonials-container {
        padding: 50px 10px;
        border: 5px solid var(--color2);
    }

    /* target: my works */
    .works-container {
        border: 5px solid var(--color2);
        padding: 50px 50px;
        margin: auto;
    }

    /* target: my works ordered list */
    .works-container ol {
        color: var(--color4);
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 25px;
        padding-left: 0;
    }   

    /* target: images in gallery */
    .gallery-container img {
        margin-left: 0;
        margin-right: 0;
        height: 100%;
        width: 100%;
        border: 5px solid var(--color2);
        border-radius: 5px;
    }

    /* target: mitsuki image only. */
    #mitsuki_image {
        margin-top: 0;
        height: 115px;
    }

    /* target: row 1 images */
    .first-row {
        display: flex;
        justify-content: space-evenly;
        align-content: center;
        gap: 10px;
        flex-direction: column;
        flex-wrap: wrap;
    }

    /* target: row 2 images */
    .second-row {
        display: flex;
        justify-content: space-evenly;
        align-content: center;
        gap: 10px;
        flex-direction: column;
        flex-wrap: wrap;
    }

    /* target: row 3 images  */
    .third-row {
        display: flex;
        justify-content: space-evenly;
        align-content: center;
        gap: 10px;
        flex-direction: column;
        flex-wrap: wrap;
    }

    /* target: div form container. */
    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 485px;
        width: auto;
        border: 5px solid var(--color2);
    }

    /* target: fieldset */
    fieldset {
        height: 330px;
        width: 251px;
        border-radius: 5px;
    }

    /* target: form element */
    form {
        height: 288px;
        width: 231px;
        padding: 10px;
        background-color: var(--color2);
    }

    /* Added for exercise 6 */
    .goals-container {
        height: auto;
        width: auto;
        padding: 50px;
        border: 5px solid var(--color2);
    }

    .goal-list ol {
        display: flex;
        flex-direction: column;
        gap: 4vh;
        padding: 0;
        justify-content: center;
    }

    .goal-list li {
        display: flex;
        color: var(--color4);
        list-style: none;
        justify-content: center;
    }

    .comment-container {
        border: 5px solid var(--color2);
        padding: 50px 10px;
    }

    .comment-form form {
        height: 300px;
        width: auto;
        padding: 7px;
        background-color: var(--color2);
        border: 2px dashed var(--color1);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4vh;
    }

    #input_name {
        width: 225px;
        border-radius: 10px;
    }

    #comment_area {
        width: 225px;
        border-radius: 10px;
    }

    label {
        color: var(--color4);
    }

    .comment-container {
        display: flex;
        flex-direction: column;
        gap: 10vh;
    }

    .comment-hdr-container h2 {
        color: var(--color4);
        text-align: center;
        background-color: var(--color2);
        padding: 15px;
        margin: 0;
    }

    .comment-hdr-container p {
        color: var(--color4);
        border: 2px dashed var(--color2);
        text-align: center;
        padding: 10px;
    }
}

/* ------------------ Mobile M Size ------------------------ */ 
@media(min-width: 321px) and (max-width: 375px) {
    #mitsuki_image {
        margin-top: 0;
        height: 150px;
    }

    /* target: div form container. */
    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 490px;
        width: auto;
    }

    /* target: form element */
    form {
        height: 288px;
        width: auto;
        padding: 10px;
        background-color: var(--color2);
    }
}

/* ------------------ Mobile L Size ------------------------ */
@media(min-width: 376px) and (max-width: 425px) {
    #mitsuki_image {
        height: 200px;
    }

    /* target: div form container. */
    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;
        width: auto;
    }

    /* target: form element */
    form {
        height: 288px;
        width: auto;
        padding: 10px;
        background-color: var(--color2);
    }
}

/* ------------------ Tablet Size ------------------------ */
@media(min-width: 426px) and (max-width: 768px){
    .inthobb-container ul {
        display: flex;
        flex-direction: row;
        gap: 60px;
        justify-content: center;
    }
    
    #mitsuki_image {
        height: 330px;
    }

    /* target: div form container. */
    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 510px;
        width: auto;
    }

    /* target: form element */
    form {
        height: 288px;
        width: auto;
        padding: 10px;
        background-color: var(--color2);
    }

    .comment-form {
        display: flex;
        justify-content: center;
    }

    .comment-form form {
        width: 361px;
    }
}

/* ------------------ Laptop Size ------------------------ */
@media(min-width: 769px) and (max-width: 1024px) {
    /* target: interest & hobbies container */
    .inthobb-container {
        padding: 50px 50px;
        border: 5px dashed var(--color2);
    }

    /* target: interest & hobbies unordered list */
    .inthobb-container ul {
        color: var(--color4);
        font-weight: lighter;
        list-style: none;
        padding-left: 0;
        display: flex;
        flex-direction: row;
        gap: 104px;
        justify-content: center;
    }

    .inthobb-container li {
        margin-top: 20px;
    }

    /* target: my works */
    .works-container {
        border: 5px solid var(--color2);
        padding: 50px 50px;
        margin: auto;
    }

    /* target: my works ordered list */
    .works-container ol {
        color: var(--color4);
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 1rem;
        padding-left: 0;
    }

    /* target: my works links */
    .links-container ol a {
        color: var(--color4);
        text-decoration: none;
        border: 3px solid var(--color2);
        padding: 4px 15px;
        background-color: var(--color5); 
    }

    /* target: testimonials */
    .testimonials-container {
        padding: 50px 50px;
        border: 5px solid var(--color2);
    }

    /* target: my gallery */
    .gallery-container {
        padding: 50px 50px;
        border: 5px solid var(--color2);
    }

    /* target: images in gallery */
    .gallery-container img {
        margin-left: 0;
        margin-right: 0;
        height: 100%;
        width: 48%;
        border: 5px solid var(--color2);
        border-radius: 5px;
    }

    /* target: mitsuki image only. */
    #mitsuki_image {
        margin-top: 30px;
        height: 240px;
    }

    /* target: row 1 images */
    .first-row {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 10px;
    }

    /* target: row 2 images */
    .second-row {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 10px;
    }

    /* target: row 3 images  */
    .third-row {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 510px;
        width: auto;
    }

    /* target: form element */
    form {
        height: 288px;
        width: auto;
        padding: 10px;
        background-color: var(--color2);
    }

    .goals-container ol {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 70px;
    }

    .comment-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
        padding: 20px 100px;
    }

    .comment-form {
        display: flex;
        justify-content: center;
    }

    .comment-form form {
        width: 361px;
    }
}

/* ------------------ Above Size ------------------------ */
@media(min-width: 1025px) {
    /* target: images in gallery */
    .gallery-container img {
        margin-left: 0;
        margin-right: 0;
        height: 100%;
        width: 48%;
        border: 5px solid var(--color2);
        border-radius: 5px;
    }

    /* target: mitsuki image only. */
    #mitsuki_image {
        margin-top: 37px;
        height: 100%;
    }

    /* target: row 1 images */
    .first-row {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 10px;
    }

    /* target: row 2 images */
    .second-row {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 10px;
    }

    /* target: row 3 images  */
    .third-row {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    /* target: div form container. */
    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 550px;
        width: auto;
    }

    /* target: form element */
    form {
        height: 288px;
        width: 400px;
        padding: 10px;
        background-color: var(--color2);
    }

    textarea {
        width: 100%;
    }

    .comment-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
        padding: 20px 100px;
    }

    .comment-form {
        display: flex;
        justify-content: center;
    }

    .comment-form form {
        width: 361px;
    }
}