:root {
  --background-color: #101114
}

body {
	background-color: var(--background-color);
}

.header-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-container img {
	width: 200px;
	height: 200px;
}