.name {
    background: url(./images/pic.jpg);
    justify-content: center;
}

body {
    font-family: Arial, sans-serif;
    background-color: #faeee7;
    color: #594a4e;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    text-align: center;
    padding-top: 2.5in;
    color: black;
}

h2 {
    text-align: center;
    color: #33272a;
    font-style: italic;
    padding: 10px;
    border: 4px solid;
    border-radius: 25px;
    width: fit-content;
    display: block;
    margin: auto;
    background-color: #c3f0ca;
}

.interest-hobbies {
    border-radius: 10px;
    border-color: #33272a;
    background-color: #ffc6c7;
    padding: 10px;
    margin-top: 10px;
}

.my-works {
    border-radius: 10px;
    border-color: #33272a;
    background-color: #ff8ba7;
    padding: 10px;
    margin-top: 10px;
}

.cont {
    background-color: #c3f0ca;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 30px;
}

.interest-hobbies ul, .my-works ol {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

li {
    list-style-type: none;
    text-align: center;
}

.testimonial {
    border-radius: 10px;
    border-color: #33272a;
    background-color: #ffc6c7;
    padding: 10px;
    margin-top: 10px;
}

.my-gallery {
    margin-top: 10px;
}

.container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    width: 90%;
    margin: 30px;
    flex-wrap: wrap;
}

.container img {
    width: 250px;
    aspect-ratio: 16/9;
    object-fit: contain;
    background-color: white;
}
