/* For variables (colors etc.), custom properties */
:root {
    --color1: #222831;
    --color2: #31363F;
    --color3: #76ABAE;
    --color4: #EEEEEE;
    --color5: #1E3E62;
}

/* * - all styles are applied to HTML elements */
* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--color1);
}

.header-container {
    background-color: var(--color2);
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 50px;
    padding-bottom: 0px;
    margin: auto;
}

.name-container {
    height: 100px;
    max-width: 15%;
    margin-top: 30px;
}

.pixel-container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
}

h1 {
    color: var(--color4)
}

.inthobb-container h2 {
    text-align: center;
    background-color: var(--color2);
    color: var(--color4);
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
}

.works-container h2 {
    text-align: center;
    background-color: var(--color2);
    color: var(--color4);
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
}

.testimonials-container h2 {
    text-align: center;
    background-color: var(--color2);
    color: var(--color4);
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
}

.gallery-container h2 {
    text-align: center;
    background-color: var(--color2);
    color: var(--color4);
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
}

.goals-container h2 {
    text-align: center;
    background-color: var(--color2);
    color: var(--color4);
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
}

.testimonials-container p {
    color: var(--color4);
    text-align: center;
    padding: 10px;
    border: 2px dashed var(--color2)
}

.inthobb-container {
    padding: 50px 50px;
    border: 5px dashed var(--color2);
}

.inthobb-container ul {
    color: var(--color4);
    font-weight: lighter;
    list-style: none;
    text-align: center;
    padding-left: 0;
}

.inthobb-container li {
    margin-top: 20px;
}

.works-container {
    border: 5px solid var(--color2);
    padding: 50px 50px;
    margin: auto;
}

.works-container ol {
    color: var(--color4);
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-left: 0;
}

.links-container ol a {
    color: var(--color4);
    text-decoration: none;
    border: 3px solid var(--color2);
    padding: 4px 15px;
    background-color: var(--color5); 
}

.testimonials-container {
    padding: 50px 50px;
    border: 5px solid var(--color2);
}

.gallery-container {
    padding: 50px 50px;
    border: 5px solid var(--color2);
}

.gallery-container img {
    margin-left: 0;
    margin-right: 0;
    height: 100%;
    width: 48%;
    border: 5px solid var(--color2);
    border-radius: 5px;
}

#mitsuki_image {
    margin-top: 30px;
}

.first-row {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.second-row {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.third-row {
    display: flex;
    justify-content: space-evenly;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
    width: 99%;
    border: 5px solid var(--color2);
}

form {
    height: 288px;
    width: 400px;
    padding: 10px;
    background-color: var(--color2);
}

.input-container {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

textarea {
    height: 100px;
    width: 100%;
    resize: none;
} 

input {
    height: 29px;
    width: 100%;
}

#submit_button {
    display: flex;
    justify-content: center;
}

button {
    border: none;
    width: 150px;
    height: 29px;
    background-color: var(--color4);
    font-family: monospace;
    font-weight: 900;
    font-size: large;
    cursor: pointer;
}

fieldset {
    height: 330px;
    width: 420px;
    border-radius: 5px;
}

legend {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    color: var(--color4);
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px; 
}

/* ------------------------- Mobile S ---------------------------- */
@media(min-width: 320px) {
    .header-container {
        background-color: var(--color2);
        display: flex;
        justify-content: center;
        gap: 55px;
        padding: 50px;
        padding-bottom: 0px;
        margin: auto;
    }

    .testimonials-container {
        padding: 50px 10px;
        border: 5px solid var(--color2);
    }

    .works-container {
        border: 5px solid var(--color2);
        padding: 50px 50px;
        margin: auto;
    }

    .works-container ol {
        color: var(--color4);
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 25px;
        padding-left: 0;
    }   

    .gallery-container img {
        margin-left: 0;
        margin-right: 0;
        height: 100%;
        width: 100%;
        border: 5px solid var(--color2);
        border-radius: 5px;
    }

    #mitsuki_image {
        margin-top: 0;
        height: 115px;
    }

    .first-row {
        display: flex;
        justify-content: space-evenly;
        align-content: center;
        gap: 10px;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .second-row {
        display: flex;
        justify-content: space-evenly;
        align-content: center;
        gap: 10px;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .third-row {
        display: flex;
        justify-content: space-evenly;
        align-content: center;
        gap: 10px;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 485px;
        width: auto;
        border: 5px solid var(--color2);
    }

    fieldset {
        height: 330px;
        width: 251px;
        border-radius: 5px;
    }

    form {
        height: 288px;
        width: 231px;
        padding: 10px;
        background-color: var(--color2);
    }

    .goals-container {
        height: auto;
        width: auto;
        padding: 50px;
        border: 5px solid var(--color2);
    }

    .goal-list ol {
        display: flex;
        flex-direction: column;
        gap: 4vh;
        padding: 0;
        justify-content: center;
    }

    .goal-list li {
        display: flex;
        color: var(--color4);
        list-style: none;
        justify-content: center;
    }

    .comment-container {
        border: 5px solid var(--color2);
        padding: 50px 10px;
    }

    .comment-form form {
        height: 300px;
        width: auto;
        padding: 7px;
        background-color: var(--color2);
        border: 2px dashed var(--color1);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4vh;
    }

    #input_name {
        width: 225px;
        border-radius: 10px;
    }

    #comment_area {
        width: 225px;
        border-radius: 10px;
    }

    .comment-form label {
        color: var(--color4);
    }

    .comment-container {
        display: flex;
        flex-direction: column;
        gap: 10vh;
    }

    #comments h2 {
        color: var(--color4);
        text-align: center;
        background-color: var(--color2);
        padding: 15px;
        margin: 0;
    }

    #comments .comment-name {
        margin-top: 10px;
        margin-bottom: 0px;
    }

    #comments .new-comment {
        margin: 0;
        color: var(--color4);
        border: 2px dashed var(--color2);
        text-align: center;
        padding: 10px;
    }

    .comment .date {
        color: var(--color4);
        background-color: var(--color2);
        display: flex;
        justify-content: end;
    }

    .arrange-selection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin: 10px;
    }
}

/* ------------------ Mobile M Size ------------------------ */ 
@media(min-width: 321px) and (max-width: 375px) {
    #mitsuki_image {
        margin-top: 0;
        height: 150px;
    }

    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 490px;
        width: auto;
    }

    form {
        height: 288px;
        width: auto;
        padding: 10px;
        background-color: var(--color2);
    }
}

/* ------------------ Mobile L Size ------------------------ */
@media(min-width: 376px) and (max-width: 425px) {
    #mitsuki_image {
        height: 200px;
    }

    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;
        width: auto;
    }

    form {
        height: 288px;
        width: auto;
        padding: 10px;
        background-color: var(--color2);
    }
}

/* ------------------ Tablet Size ------------------------ */
@media(min-width: 426px) and (max-width: 768px){
    .inthobb-container ul {
        display: flex;
        flex-direction: row;
        gap: 60px;
        justify-content: center;
    }
    
    #mitsuki_image {
        height: 330px;
    }

    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 510px;
        width: auto;
    }

    form {
        height: 288px;
        width: auto;
        padding: 10px;
        background-color: var(--color2);
    }

    .comment-form {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 1rem;
    }

    .comment-form form {
        width: 361px;
    }

    .arrange-selection {
        display: flex;
        flex-direction: row;
    }
}

/* ------------------ Laptop Size ------------------------ */
@media(min-width: 769px) and (max-width: 1024px) {
    .inthobb-container {
        padding: 50px 50px;
        border: 5px dashed var(--color2);
    }

    .inthobb-container ul {
        color: var(--color4);
        font-weight: lighter;
        list-style: none;
        padding-left: 0;
        display: flex;
        flex-direction: row;
        gap: 104px;
        justify-content: center;
    }

    .inthobb-container li {
        margin-top: 20px;
    }

    .works-container {
        border: 5px solid var(--color2);
        padding: 50px 50px;
        margin: auto;
    }

    .works-container ol {
        color: var(--color4);
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 1rem;
        padding-left: 0;
    }

    .links-container ol a {
        color: var(--color4);
        text-decoration: none;
        border: 3px solid var(--color2);
        padding: 4px 15px;
        background-color: var(--color5); 
    }


    .testimonials-container {
        padding: 50px 50px;
        border: 5px solid var(--color2);
    }

    .gallery-container {
        padding: 50px 50px;
        border: 5px solid var(--color2);
    }

    .gallery-container img {
        margin-left: 0;
        margin-right: 0;
        height: 100%;
        width: 48%;
        border: 5px solid var(--color2);
        border-radius: 5px;
    }

    #mitsuki_image {
        margin-top: 30px;
        height: 240px;
    }

    .first-row {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 10px;
    }

    .second-row {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 10px;
    }

    .third-row {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 510px;
        width: auto;
    }

    form {
        height: 288px;
        width: auto;
        padding: 10px;
        background-color: var(--color2);
    }

    .goals-container ol {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 70px;
    }

    .comment-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-column-gap: 20px;
        padding: 20px 100px;
    }

    .comment-form {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .comment-form form {
        width: 361px;
    }
}

/* ------------------ Above Size ------------------------ */
@media(min-width: 1025px) {
    .inthobb-container {
        padding: 50px 50px;
        border: 5px dashed var(--color2);
    }

    .inthobb-container ul {
        color: var(--color4);
        font-weight: lighter;
        list-style: none;
        padding-left: 0;
        display: flex;
        flex-direction: row;
        gap: 104px;
        justify-content: center;
    }

    .inthobb-container li {
        margin-top: 20px;
    }

    .gallery-container img {
        margin-left: 0;
        margin-right: 0;
        height: 100%;
        width: 48%;
        border: 5px solid var(--color2);
        border-radius: 5px;
    }

    #mitsuki_image {
        margin-top: 37px;
        height: 100%;
    }

    .first-row {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 10px;
    }

    .second-row {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 10px;
    }

    .third-row {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 550px;
        width: auto;
    }

    form {
        height: 288px;
        width: 400px;
        padding: 10px;
        background-color: var(--color2);
    }

    textarea {
        width: 100%;
    }

    .goals-container ol {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 70px;
    }

    .comment-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
        padding: 20px 100px;
    }

    .comment-form {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .comment-form form {
        width: 361px;
    }
}